.cat-tag {
    color: white;
    padding: 8px;
    font-size: 12px;
    border-radius: 15px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Avenir";
    line-height: 1;
}