.tabnav {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 15px;
  top: 50%;
  width: 100%;
  max-width: 80px;
  height: 80vh;
  transform: translateY(-50%);
  background: var(--cards);
  border-radius: var(--smallRadius);
  overflow: hidden;
}

.tab-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-btn {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 5px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.tab-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 200px;
  height: 200px;
  background: radial-gradient(var(--primary) 20%, transparent 72%);
  transform: translate(200px, -50%);
  opacity: 0;
  transition: opacity .2s;
  pointer-events: none;
}

.tab-btn svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  fill: var(--icons);
  transition: transform .2s;
  transform-origin: center center;
}

.tab-btn:hover svg {
  transform: scale(1.1);
  fill: var(--primary);
}

.tab-btn:hover::after {
  opacity: 1;
}

@media screen and (max-width: 688px) {
  .tabnav {
    top: unset;
    bottom: 12px;
    left: 50%;
    max-width: 300px;
    padding: 0 20px;
    transform: translate(-50%, 0);
    height: initial;
  }

  .tab-content {
    flex-direction: row;
    padding: 10px 0;
  }

  .tab-btn::after {
    top: unset;
    bottom: 0;
    right: unset;
    left: 50%;
    transform: translate(-50%, 180px);
  }
}
