.input {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border-radius: 4em;
    border: 1px solid var(--border);
    cursor: pointer;
    background: var(--darkThemeContrastBackground);
    font-weight: 200;
    padding: .5em 1em;
    color: var(--darkThemeText);
  }
  .input--small {
    font-size: .8em;
  }
  .input--medium {
    font-size: 1em;
  }
  .input--large {
    font-size: 1.2em;
  }
  .input--error {
      border-color: red;
  }
  .input:required {
      background: var(--darkThemeContrastBackground);
      border-width: 2px;
  }