.chart-gauge {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.chart-gauge div {
    width: 50%;
    margin-top: 1em;
}

.label {
    width: 100%;
    text-align: center;
}

.percent {
    width: 100%;
    text-align: center;
}

.value {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--primary);
    font-size: 2em;
    line-height: 1em;
}
