.toast {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: absolute;
    color: white;
    padding: 0 1em;
    border-radius: 3em;
}
.bottom-left {
    bottom: 1em;
    left: 1em;
}
.bottom-right {
    bottom: 1em;
    right: 1em;
}
.top-left {
    top: 1em;
    left: 1em;
}
.top-right {
    top: 1em;
    right: 1em;
}
