:root {
    /* Colors */
    --success: rgb(0, 247, 165);
    --error: rgb(255, 93, 93);
    --primary: rgb(26, 232, 183);
    --cards: rgb(20, 25, 30);
    --background: rgb(15, 17, 23);
    --icons: rgb(129, 166, 154);
    --secondary: rgb(127, 87, 220);
    --border: rgb(56, 57, 58);

    /* Screens */
    --mobile: 688px;
    --tablet: 992px;
    --desktop: 1312px;

    /* Layout */
    --smallRadius: 8px;
    --largeRadius: 15px;
    --wrapper: 1000px;
    --wrapperSmall: 800px;
    --wrapperLarge: 1200px;

    /* Background */
    --lightThemeBackground: #ffffff;
    --darkThemeBackground: #101313;
    --darkThemeContrastBackground: #1e2020;

    /* Text */
    --lightThemeText: #101313;
    --darkThemeText: #d6d6d6;
}
p, a, h1, h2, h3, h4, h5, h6 {
    color: var(--darkThemeText);
}
@media (prefers-color-scheme: dark) {
    /* p, a, h1, h2, h3, h4, h5, h6 {
        color: var(--darkThemeText);
    } */
    html, body {
        /* background: var(--darkThemeBackground); */
    }
}
@media (prefers-color-scheme: light) {
    /* p, a, h1, h2, h3, h4, h5, h6 {
        color: var(--lightThemeText);
    } */
    html, body {
        /* background: var(--lightThemeBackground); */
    }
}

/* Shadows */

.themeshadow-lg {
    box-shadow: 0 10px 15px -3px rgb(26 232 183 / 0.1), 0 4px 6px -4px rgb(26 232 183 / 0.1);
}

/* Media queries
    Example : 

    @media screen and (max-width: var(--screenVar){
        ...
    } */
