.table {
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    border-collapse: collapse;
}

th {
    padding: 0.625rem;
}

td {
    padding: 0.625rem;
    text-align: center;
}

td,th{
    border-style: solid;
    border-width: 0.5px;
    border-color: black; 

}